<app-titlebar></app-titlebar>
<div class="home-container" #HomeSection>
    <div class="home-content">
        <div class="left-section">
            <h3 class="intro">Hello world.</h3>
            <h2 class="heading">I am <span style="color: #2dd4bf;">Ameya</span>.</h2>
            <p class="description">Code. Design. Deploy. Repeat.</p>
            <div class="designation">
                <h1>
                    <a href="" class="typewrite" data-period="2000" data-type='["Full-Stack Developer","Backend Developer","Software Developer"]'>
                        <span class="wrap" #textSpan></span>
                    </a>
                </h1>
            </div>
            <div class="resume-contact">
                <button mat-button extended (click) = "downloadResume()" class="download-resume">Download Resume</button>
                <button mat-stroked-button extended class="contact-me" (click) ="onContactClick()">
                    Contact
                </button>
            </div>
        </div>
        <div class="right-section">
            <img src="/assets/images/photo.jpeg" alt="Profile Picture" class="profile-picture">
        </div>
    </div>
</div>

<section id="skills" class="animate-section" #skillsSection>
<app-about></app-about>
</section>

<section id="experience" class="animate-section" #experienceSection>
<app-experience></app-experience>
</section>

<section id="education" class="animate-section" #educationSection>
<app-education></app-education>
</section>

<section id="projects" class="animate-section" #projectsSection>
<app-projects></app-projects>
</section>

<section id="contact">
<app-contact></app-contact>
</section>