<div class="experience-section" #experienceSection>
    <h2 class="section-heading">Experience</h2>
    <hr class="horizontal-line" />
    <div class="experience-block">
        <div class="company-name">
            <h3>Genius Minds Consulting <br/>and <br/> Services</h3>
        </div>
        <hr/>
        <div class="company-experience-details">
            <ul class="points">
                <li>Developed and enhanced application features to improve functionality, performance, and user experience; built custom solutions to streamline client workflows and increase productivity.</li>
                <li>Collaborated closely with cross-functional teams to support development activities, troubleshoot technical issues, and ensure timely delivery of project milestones.</li>
                <li>Conducted thorough unit, integration, and functional testing to identify defects and optimize application performance, stability, and code quality.</li>
                <li>Provided technical guidance and code-level suggestions to team members, promoting best practices, maintainable architecture, and efficient development processes.</li>
                <li>Assumed leadership responsibilities by managing multiple projects simultaneously, resolving critical technical challenges, and delivering effective solutions aligned with client requirements.</li>
            </ul>
        </div>
    </div>
</div>
