<div class="experience-section" #experienceSection>
    <h2 class="section-heading">Experience</h2>
    <hr class="horizontal-line" />
    <div class="experience-block">
       <!-- <mat-slide-toggle (change)="toggleView()">Skills</mat-slide-toggle>

        <div class="content-box">
            <ng-container *ngIf="activeView === 'details'">
                <h3>Frontend Skills</h3>
                <p>Angular, TypeScript, UI/UX</p>
            </ng-container>

            <ng-container *ngIf="activeView === 'skills'">
                <h3>Backend Skills</h3>
                <p>.NET, C#, SQL, APIs</p>
            </ng-container>

        </div> -->
</div>
