<div class="contactSection" #contactSection>
    <div class="section1">
        <div class="section-heading">
            <h4 class="section-heading1">Have something in mind?</h4>
            <h2 class="section-heading2" href="https://www.linkedin.com/in/ameya19/">Let's Connect</h2>
        </div>
    </div>
    <div class="section2">
        <span class="sitemaps">Sitemaps</span><br/>
        <a class="page-tabs" href="#">Home</a><br/>
        <a class="page-tabs" href="#skills">Skills</a><br/>
        <a class="page-tabs" href="#experience">Experience</a><br/>
        <a class="page-tabs" href="#education">Education</a><br/>
        <a class="page-tabs" href="#projects">Projects</a>
    </div>
    <div class="section2">
        <span class="sitemaps">Socials</span><br/>
        <a class="page-tabs" href="https://www.linkedin.com/in/ameya19/">LinkedIn</a><br/>
        <a class="page-tabs" href="https://leetcode.com/u/Ameya1910/">Leetcode</a><br/>
        <a class="page-tabs" href="https://github.com/Ameya19">GitHub</a>
    </div>
    <div class="section2">
        <span class="sitemaps">Contact</span><br/>
        <span class="plain-text">Pune,India</span><br/>
        <a class="page-tabs" href="mailto:ameya.bhingarkar19@gmail.com">ameya.bhingarkar19&#64;gmail.com</a><br/>
        <a class="page-tabs" href="tel:+917972334826">+91-7972334826</a>
    </div>
</div>
