<div class="projects-section" #projectSection>
    <h2 class="section-heading">Projects</h2>
    <hr class="horizontal-line" />
    <div class="projects-container">
        <div class="project-cards">
            <div class="card" style="width: 28rem; height: 38rem;">
                <img src="assets/images/conceptmap.png" class="card-img-top" alt="Concept Map Project">
                <div class="card-body">
                    <h5 class="card-title">Concept Map Generation and Summerization</h5>
                    <p class="card-text">Machine learning–based system for automatic text summarization and concept map generation, transforming unstructured data into concise and visually organized insights.</p>
                </div>
            </div>

            <div class="card" style="width: 28rem; height: 38rem;" (click)="onPokeDexClick($event)">
                <img src="assets/images/pokedex.png" class="card-img-top" height="320" alt="Pokedex Project">
                <div class="card-body">
                    <h5 class="card-title">Pokedex</h5>
                    <p class="card-text">A client-side React application using Create React App, Material UI, and REST-based API integration (PokéAPI) to display Pokémon listings and detail pages. The app is deployed on Vercel using a production build workflow.</p>
                </div>
            </div>
        </div>
        
    </div>
</div>
<div class="more-git-projects">
    <h2 class="more-git-projects-heading">More Projects on GitHub</h2>
    <h4 class="more-git-projects-subheading">Every project tells a story — from a spark of an idea to a fully functional solution, I craft experiences that solve problems and inspire users.</h4>
    <div class="button-block">
        <button style="background-color: #2dd4bf; border: none; padding: 0.5rem 1rem; border-radius: 5px; font-size: 20px; margin-top: 2rem;">
            <a href="https://github.com/Ameya19" target="_blank" style="text-decoration: none; color: black; font-weight: bold; font-size: 18px;">More Projects on GitHub</a>
        </button>
    </div>
</div>