/* You can add global styles to this file, and also import other style files */
body{
    background-color: rgb(20, 25, 32) !important;
    -webkit-user-select: none; /* Safari */
    user-select: none;         /* Standard */
}
html, body { height: 100%; }

.jira-fab.mat-mdc-fab {
  box-shadow: 0 10px 30px rgba(45, 212, 191, 0.6) !important;
}


@font-face {
    font-family: 'Cascadia Code';
    src: url('assets/fonts/Cascadia/Cascadia.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Cascadia Code';
    src: url('assets/fonts/Hoog/hoog0554.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}