<div class="skills-section" #skillSection>
    <h2 class="section-heading">Skills</h2>
    <hr class="horizontal-line" />
    <div class="skills-container">
        <div class="skills">
            <button mat-fab>
                <img src="assets/images/python.png" alt="Python" width="50" height="50"/>
                Python
            </button>
            <button mat-fab>
                <img src="assets/images/typescript.png" alt="TypeScript" width="75" height="50"/>
                TypeScript
            </button>
            <button mat-fab>
                <img src="assets/images/angular.png" alt="Angular" width="85" height="60"/>
                Angular
            </button>
            <button mat-fab>
                <img src="assets/images/c-sharp.png" alt="C#" width="70" height="65"/>
                C#
            </button>
            <button mat-fab>
                <img src="assets/images/mysql.png" alt="MySQL" width="70" height="70"/>
                MySQL
            </button>
            <button mat-fab>
                <img src="assets/images/powershell.png" alt="PowerShell" width="70" height="70"/>
                PowerShell
            </button>
        </div>
        <br/>
        <div class="skills">
            <button mat-fab>
                <img src="assets/images/react.png" alt="React" width="70" height="60"/>
                React
            </button>
            <button mat-fab>
                <img src="assets/images/mariadb.png" alt="MariaDB" width="70" height="50"/>
                MariaDB
            </button>
            <button mat-fab>
                <img src="assets/images/dotnet.png" alt=".NET" width="60" height="60"/>
                .NET
            </button>
            <button mat-fab>
                <img src="assets/images/jira.png" alt="Jira" width="70" height="70"/>
                Jira
            </button>
            <button mat-fab>
                <img src="assets/images/git.png" alt="Git" width="70" height="70"/>
                Git
            </button>
            <button mat-fab>
                <img src="assets/images/postman.png" alt="Postman" width="70" height="70"/>
                Postman
            </button>
        </div>
        <br/>
        <div class="skills">
            <button mat-fab>
                <img src="assets/images/linux.png" alt="Linux" width="70" height="70"/>
                Linux
            </button>
        </div>
    </div>
