<div class="skills-section" #skillSection>
    <h2 class="section-heading">Skills</h2>
    <hr class="horizontal-line" />
    <div class="skills-container">
        <div class="skills">
            <button mat-fab>
                <img src="assets/images/python.png" alt="Python"/>
                Python
            </button>
            <button mat-fab>
                <img src="assets/images/typescript.png" alt="TypeScript"/>
                TypeScript
            </button>
            <button mat-fab>
                <img src="assets/images/angular.png" alt="Angular"/>
                Angular
            </button>
            <button mat-fab>
                <img src="assets/images/c-sharp.png" alt="C#"/>
                C#
            </button>
            <button mat-fab>
                <img src="assets/images/mysql.png" alt="MySQL"/>
                MySQL
            </button>
            <button mat-fab>
                <img src="assets/images/powershell.png" alt="PowerShell"/>
                PowerShell
            </button>
        </div>
        <br/>
        <div class="skills">
            <button mat-fab>
                <img src="assets/images/react.png" alt="React"/>
                React
            </button>
            <button mat-fab>
                <img src="assets/images/mariadb.png" alt="MariaDB"/>
                MariaDB
            </button>
            <button mat-fab>
                <img src="assets/images/dotnet.png" alt=".NET"/>
                .NET
            </button>
            <button mat-fab>
                <img src="assets/images/jira.png" alt="Jira"/>
                Jira
            </button>
            <button mat-fab>
                <img src="assets/images/git.png" alt="Git"/>
                Git
            </button>
            <button mat-fab>
                <img src="assets/images/postman.png" alt="Postman"/>
                Postman
            </button>
        </div>
        <br/>
        <div class="skills">
            <button mat-fab>
                <img src="assets/images/linode.png" alt="Linode"/>
                Linode
            </button>
            <button mat-fab>
                <img src="assets/images/linux.png" alt="Linux"/>
                Linux
            </button>
        </div>
    </div>
